// Brand colors
$dark-blue: #363a46ff;
$blue: #276591ff;
$light-blue: #4f8dbaff;
$green: #6ca380ff;

// Define own variables
$primary: $dark-blue;
$secondary: $blue;
$tertiary: $light-blue;
$quaternary: $green;
$family-serif: "Crimson Pro", serif;

// Update Bulma's global variables
$family-sans-serif: "Lato", sans-serif;
$link: $secondary;
$menu-item-active-background-color: $secondary;
$gap: 0;
$table-cell-border-width: 0;
$title-family: $family-serif;
$title-color: $primary;
$info: $secondary;
