// Brand colors
$dark-blue: #363a46ff;
$blue: #276591ff;
$light-blue: #4f8dbaff;
$green: #6ca380ff;

// Define own variables
$primary: $dark-blue;
$secondary: $blue;
$tertiary: $light-blue;
$quaternary: $green;
$family-serif: "Crimson Pro", serif;

// Update Bulma's global variables
$family-sans-serif: "Lato", sans-serif;
$link: $secondary;
$menu-item-active-background-color: $quaternary;
//$card-shadow: none;
$gap: 0;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-background-color: hsl(0, 0%, 96%);
$input-border-color: transparent;
$input-shadow: none;
